*{
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
#encabezado-imagen{
    width: 100%;
    height: 100%;
}
.centrado{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.row{
    display: flex;
    object-fit: cover;
}
.column-3{
    display: flex;
    object-fit: cover;
    width: 33.33%;
    float: left;
    padding: 2%;
}
img{
    width: 100%;
}

.proyectos{
    text-align: center;
    font-size: 0.35rem;
}
.franja-color{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(0, 165, 165);
    color: white;
    text-align: center;
    display: block;
    font-size: 0.45rem;
}
.texto-franja{
    margin: 5px;
}
html{
    font-size: 60px;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: 0.6rem;
}
.datos-mapa{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.titulo-datos{
    font-size: 0.5rem;
}
.datos{
    font-size: 0.3rem;
}
.footer{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.3rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.footer-2{
    display: flex;
    font-size: 0.3rem;
    margin-left: 26%;
}
.fecha {
    text-align: center;
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    font-size: 22px;
  }
  
.f-texto{
    color: white;
}
.footer-3{
    font-size: 0.3rem;
    margin-left: 26%;
}

@media screen and (max-width:768px){
    html{
        font-size: 40px;
    }
    .column-3{
        flex-direction: row;
        object-fit: cover;
        float: left;
        flex-wrap: wrap;
        padding: 2%;
        width: 50%;
    }
    img{
        float: left;
    }
    .centrado{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
    .datos-mapa{
        display: block;
        margin-left: 2%;
    }
    iframe{
        width: 480px;
        margin-left: 0%;
    }
    .footer-3{
        display: block;
        margin-left: 0%;
    }
}